header{
    width: 1920px;
    height: 280px;
    align-items: left;
    background-color: #004A98;
    margin: 0 auto;
}

 

#logo {
    height: 80px;
    width: 1px;
    margin: 20px;
    padding-top: 10px;
}

#logotipo img{
    display: block;
    width: 80px;
    float: left;
    margin-top: 20px;
}

#logotipoh1{
    font-size: 50px;
    width: 70%;
    margin-top: 35px;
    margin-left: 220px;
    letter-spacing: 2px;
    color: #F5B335;
}